<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Könyvek</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="books.html">Books</a></li>
                <li><a href="rentBook.html">Rent a Book</a></li>
                <li><a href="rentedBooks.html">Rented Books</a></li>
                <li><a href="login.html">Bejelentkezés</a></li>

            </ul>
        </nav>
    </header>
        
    <section id="featured-books">
        <h2>Könyvek listája</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Szerző</th>
                    <th>Cím</th>
                    <th>Kiadó</th>
                    <th>Kiadás Éve</th>
                    <th>Műfaj</th>
                    <th>ISBN</th>
                </tr>
            </thead>
            <tbody>
                <!-- Könyv 1 -->
                <tr>
                    <td>1</td>
                    <td>János Vitéz</td>
                    <td>Az elveszett varázsló</td>
                    <td>Nagy Könyvek Kiadó</td>
                    <td>2020</td>
                    <td>Fantasy</td>
                    <td>123-4567891011</td>
                </tr>
                <!-- Könyv 2 -->
                <tr>
                    <td>2</td>
                    <td>Anna Költő</td>
                    <td>A szavak ereje</td>
                    <td>Inspiráció Kiadó</td>
                    <td>2018</td>
                    <td>Önéletrajzi</td>
                    <td>234-5678910112</td>
                </tr>
            </tbody>
        </table>
    </section>
    

</body>
</html>